html {
    scroll-behavior: smooth;
}

:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --line-height: 1.7rem;
    --transition: 0.2s ease-in;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

ul li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background: #F1EBE4;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-link {
    text-decoration: none;
    color: blueviolet;
}

.nav-link:hover{
    color: #f1262d;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: blueviolet;
}

.logo:hover{
    color: #f1262d;
}

.nav-item {
    margin-left: 2rem;
    font-size: medium;
}

.gucci {
    padding: 0;
    display: block;
    margin: 0 auto;
    height: 800px;
    width: 100%;
}

.about {
    font-size: 1.5em;
    text-align: left;
    margin: 2rem 10rem;
    
}

.socials{
    display: flex;
    position: relative;
    top: 1rem;
    
}

.theme-switch{
    position: relative;
    right: 1.5rem;
    bottom: 1.5rem;
}

.hamburger {
    display: none;
}

footer {
    border-top: 1px solid #f1f1f1;
    box-shadow: 0px -2px 3px #f1f1f1;
    color: white;
    text-align: center;
    padding: 2rem;
    background-color: #011627;
    margin-top: 5rem;
}

.checkbox {
    opacity: 0;
}

.checkbox:checked+.label .switcher {
    transform: translateX(24px);
}

.label {
    width: 50px;
    height: 29px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 6px;
    position: relative;
}

.switcher {
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

body.dark {
    background-color: #1e272e;
}

body.dark .bar {
    background-color: #fff;
}

body.dark p {
    color: #fff;
}

body.dark nav {
    background-color: #1e272e;
    box-shadow: 2px 3px 2px #111010;
}

body.dark footer {
    color: #F1EBE4;
    border-top: 1px solid #111010;
    box-shadow: 0px -2px 3px #111010;
}

.moon {
    color: #ffa502;
}

.sun {
    color: #ff4757;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    .bar {
        background-color: #020202;
        display: block;
        width: 30px;
        height: 4px;
        margin: 6px auto;
    }

    ul {
        background-color: #fff;
        flex-direction: column;
        position: fixed;
        left: 100%;
        top: 5rem;
        width: 100%;
        text-align: center;
    }

    .nav-item {
        margin: 2rem 0;
    }

    .logo{
        font-size: 1rem;
    }

    .gucci {
        max-width: 100%;
        height: auto;
    }

    .about {
        font-size: 1em;
        text-align: left;
        margin: 2rem 4rem;

    }

}

ul.active {
    left: 0;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
